@import "vars";

.navbar {
  background: $theme1;
  font-family: $headings-font-family;
  filter: brightness(150%);
  box-shadow: 0rem 0.1rem 0.1rem$boxShadowLight;
  a {
    color: $light1;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    &:hover {
      color: $highlight1;
    }
  }
  svg {
    fill: $light1;
    height: 1.5rem;
  }
  .d-flex svg {
    margin-right: 1.5rem;
  }

  .dropdown-menu {
    background: $theme1;
    color: $light1;
    box-shadow: $shadow1;
    border-radius: 10px;
    a:hover {
      background: $theme1;
      color: $highlight1;
    }
    a:active {
      box-shadow: $shadow2;
      border-radius: 10px;
    }
  }

  .navbar-toggler {
    box-shadow: $shadow1;
    border-radius: 1rem;
    outline: none;
    border: none;
    &:active {
      box-shadow: $shadow2;
      border-radius: 1rem;
      outline: none;
      border: none;
    }
  }
}
form {
  display: none;
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

@media (min-width: 992px) {
  .icons {
    display: none;
  }
  form {
    display: flex;
    width: 25%;
    justify-content: space-around;
  }
}
