@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,700);
$font-family-base: Poppins;
@import url(https://fonts.googleapis.com/css?family=Fugaz+One:200,300,400,700);
$headings-font-family: Fugaz One;

$theme1: #1d212c;
$theme2: #6f7f8c;

$alt1: #66c7f4;

$highlight1: #e90f8e;
$highlight2: #f90093;

$dark1: #2c2c2c;

$light1: #eceeec;
$light2: #3e4347;

$boxShadowDark: #000000;
$boxShadowLight: #ffffff;

$shadow1: 0.1rem 0.1rem 0.3rem $boxShadowDark, -0.1rem -0.1rem 0.2rem $boxShadowLight;

$shadow2: inset -0.05rem -0.05rem 0.1rem $boxShadowLight, inset 0.1rem 0.1rem 0.2rem $boxShadowDark;
